.yj {
  font-family: sans-serif;
}
.movie-poster{
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.movie-container{
  width: 200px;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-name{
  margin: 0px;
  font-weight: bold;
  font-size: 25px;
}
.movie-summary{
  margin: 0px;
}
.movie-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 16px;
  justify-items: center;
}
.button{
  display: flex;
  align-content: center;
  align-items: center;
}
/* body{
  background-color: rgb(0, 255, 242);
} */

.addmovie{
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 500px;
  margin: 10px auto;
}
.game{
  height: 150px;
  width: 150px;
  border: 2px solid black;
  font-size: 160px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}